@import '@css/useful.scss';

.result--footer {
  position: relative;
  height: 150px;
  @include desktop {
    @include basic--wrappers;
  }
  @include mobile {
    width: 100%;
  }
}

.result--footer--image {
  position: absolute;
  right: 0px;
  @include desktop {
    width: 100px;
    top: 30px;
  }
  @include mobile {
    width: 80px;
    top: 20px;
  }
}
