@import '@css/Main/Main.scss';
@import '@css/useful.scss';

$table_padding: 40px;

.result {
  @include desktop {
    @include basic--wrappers;
  }
  @include mobile {
    width: 100%;
  }
}

.result--tab {
  display: flex;
  & > div {
    display: flex;
    box-shadow: 2px 2px 4px rgba(183, 183, 183, 0.5), 1px 1px 2px rgba(183, 183, 183, 0.2);
  }

  .result--tab--btn {
    @include medium_kor;
    color: rgb(140, 140, 140);
    padding: 5px 8px;
    background-color: #cdcaca3d;
    border: none;
  }
  .result--tab--btn:first-child {
    border-right: 1px solid #7372723d;

  }
  .result--tab--btn:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #7372723d;
    color: black;
  }
}


// .result--title {
//   @include main--titles;
// }

// .result--guide {
//   @include medium_kor;
//   text-align: center;
//   margin-bottom: 70px;
// }

.result--event_list {
  display: grid;
  row-gap: 15px;
  margin-bottom: 70px;
  @include desktop {
    margin-top: 30px;
    grid-template-columns: repeat(auto-fit, minmax(25%, auto));
  }
  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(50%, auto));
    padding: 0 20px;
  }
}

.selected {
  color: black !important;
}

.result--event {
  @include medium_kor;
  color: #5050508f;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
  text-align: center;
  height: 25px;
  span {
    &:hover {
      cursor: pointer;
      font-size: 16px;
    }
  }
}

.result--table {
  position: relative;
  display: grid;
  background-color: #b2babb3d;
  padding: $table_padding;
  p {
    color: $darkgrey_default;
  }
  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(20%, auto));
  }
  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), auto));
  }
}

.result--submit {
  background-color: #b2babb3d;
  border-radius: 20px;
      // border: 3px solid #4992CE;
  position: relative;
  @include desktop {
    padding: 30px 100px;
  }
  @include mobile {
    padding: 30px 20px;
  }
}

.result--submit--delete_event {
  @include medium_kor;
  position: absolute;
  right: -4px;
  top: -25px;
  width: 70px;
  text-align: center;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  @include desktop {
    right: -4px;
  }
  @include mobile {
    right: 0px;
  }
}

.test {
  border: 1px solid;
}

.result--submit--event_title {
  @include medium_kor;
}

.result--submit--event_description {
  @include medium_kor;
  color: $darkgrey_medium;
}

.result--submit--event_bot_line {
  border: 0;
  height: 0.5px;
  background-color: $darkgrey_light;
}

.result--submit--info {
  @include medium_kor;
}

.result--submit--form_wrapper {
  text-align: end;
}

.result--submit--input {
  width: 40px;
  border: none;
  border-bottom: 1px solid $darkgrey_default;
  font-size: $default_medium_15;
  text-align: center;
  background: none;
  &:focus {
    outline: none;
  }
}

.result--submit--label {
  @include medium_kor;
}

.result--submit--button {
  font-family: $kor_font_regular;
  font-size: 16px;
  color: $red_for_submit;
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.result--team_name {
  @include medium_eng;
  font-weight: 500;
  font-size: $sub_title_18;
  text-align: center;
  border-bottom: 1px solid $darkgrey_light;
  margin: 0;
  padding: 10px;
}

.result--intra {
  @include medium_eng;
  text-align: center;
}

.result--hr {
  position: absolute;
  width: 600px;
  top: 60px;
  border: 0;
  height: 0.5px;
  background-color: $darkgrey_light;
}

.result--no_attend {
  @include medium_kor;
  font-size: 16px;
  margin: 30px 0;
}
