@import '@css/Main/Main.scss';
@import '@css/useful.scss';

$table_padding: 20px;

.result {
  @include basic--wrappers;
}

.result--title {
  @include main--titles;
}

.result--event_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, auto));
  row-gap: 15px;
  margin-bottom: 40px;
}

.selected {
  color: black !important;
}

.result--event {
  @include medium_kor;
  color: #5050508f;
  span {
    border-bottom: 1px solid $darkgrey_light;
    // padding-bottom: 2px;
    &:hover {
      cursor: pointer;
    }
  }
}

.result--table {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #b2babb3d;
  padding: $table_padding;
  p {
    color: $darkgrey_default;
  }
}

.result--submit {
  background-color: #b2babb3d;
  padding: 30px 100px;
}

.result--submit--info {
  @include medium_kor;
}

.result--submit--form_wrapper {
  text-align: end;
}

.result--submit--input {
  width: 40px;
  border: none;
  border-bottom: 1px solid $darkgrey_default;
  font-size: $default_medium_15;
  text-align: center;
  background: none;
  &:focus {
    outline: none;
  }
}

.result--submit--label {
  @include medium_kor;
}

.result--submit--button {
  @include medium_kor;
  font-size: 16px;
  color: $red_for_submit;
  &:hover {
    cursor: pointer;
  }
}

.result--team_name {
  font-family: $eng_font_regular;
  font-weight: 500;
  font-size: $sub_title_18;
  text-align: center;
}

.result--intra {
  font-family: $eng_font_regular;
  font-size: $default_medium_15;
  text-align: center;
}

.result--hr {
  position: absolute;
  width: 600px;
  top: 60px;
  border: 0;
  height: 0.5px;
  background-color: $darkgrey_light;
}

.result--no_attend {
  @include medium_kor;
  font-size: 16px;
  margin: 30px 0;
}
