@import '@css/fonts.scss';
@import '@css/useful.scss';

.timeline--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline--chrono {
  @include desktop {
    width: 750;
    height: 800;
  }
  @include mobile {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.timeline--title-img {
  width: 1rem;
  height: 0.9rem;
  margin-left: 2.2;
  padding-top: 2;
}

.timeline--title {
  font-family: $kor_font_regular;
  padding: 10;
  margin-bottom: 30;
}
