@import '@css/fonts.scss';

.header--wrapper {
  text-align: center;
  margin-top: 30px;
}

.header--image {
  width: 200px;
  &:hover {
    cursor: pointer;
  }
}

.header--title {
  width: 150px;
  margin: 20px auto;
  font-family: $eng_font_regular;
  font-size: $main_title_22;
  &:hover {
    cursor: pointer;
  }
}
