@import '@css/Main/Main.scss';
@import '@css/useful.scss';
@import '@css/fonts.scss';

.main--apply {
  @include basic--wrappers;
}

.main--apply--title {
  @include main--titles;
}

.main--apply--wrapper {
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main--apply--formbox {
  display: flex;
}

.main--apply--formbox--form {
  display: flex;
  font-family: $kor_font_regular;
}

.main--apply--formbox--input {
  // background: none;
  height: 24px;
  width: 180px;
  border: none;
  border-bottom: 1px solid $darkgrey_default;
  font-size: $default_small_13;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.main--apply--formbox--button {
  display: flex;
  align-items: flex-end;
  padding-left: 5px;
  button {
    border: none;
    background: none;
    color: $darkgrey_default;
    font-size: 14px;
    &:hover {
      cursor: pointer;
    }
  }
}
