@import '@css/Main/Main.scss';
@import '@css/useful.scss';
@import '@css/fonts.scss';

$oneline_img_count: 7;

.main--attendeeList {
  @include basic--wrappers;
  box-sizing: border-box;
  min-height: 270px;
}

.main--attendeeList--title {
  @include main--titles;
}

.show {
  visibility: initial;
}

.data_none {
  text-align: end;
  font-size: 14px;
}
