@import '@css/Main/Main.scss';
@import '@css/useful.scss';
@import '@css/fonts.scss';

.main--result {
  @include basic--wrappers;
}

.main--result--title {
  @include main--titles;
}

.main--result--table {
  position: relative;
  display: flex;
  justify-content: space-around;
  border: 1px solid $darkgrey_light;
  border-radius: 10px;
  margin: 30px 0px;
  height: 250px;
  padding: 20px;
  p {
    color: $darkgrey_default;
  }
}

.main--result--team_name {
  font-weight: 500;
  font-size: $sub_title_18;
}

.main--result--intra {
  text-align: center;
}

.hrhr {
  position: absolute;
  width: 460px;
  top: 60px;
  border: 0;
  height: 0.5px;
  background-color: $darkgrey_light;
}
