@import '@css/Main/Main.scss';
@import '@css/useful.scss';
@import '@css/fonts.scss';

$table_padding: 20px;

.result {
  @include basic--wrappers;
}

.result--title {
  @include main--titles;
  // text-align: center;
}

.result--table {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #b2babb3d;
  // border: 1px solid $darkgrey_light;
  // border-radius: 10px;
  padding: $table_padding;
  p {
    color: $darkgrey_default;
  }
}

.result--team_name {
  font-family: $eng_font_regular;
  font-weight: 500;
  font-size: $sub_title_18;
}

.result--intra {
  font-family: $eng_font_regular;
  font-size: $default_medium_15;
  text-align: center;
}

.result--hr {
  position: absolute;
  width: 515px;
  top: 60px;
  border: 0;
  height: 0.5px;
  background-color: $darkgrey_light;
}
