@import '@css/Main/Main.scss';
@import '@css/useful.scss';

$list_width: 300px;
$list_wrapper_padding: 20px;

.main--apply {
  @include basic--wrappers;
}

.main--apply--title {
  @include main--titles;
  margin-bottom: 30px;
}

.main--apply--wrapper {
  position: relative;
  display: flex;
  height: 250px;
  width: 700px;
  background-color: rgb(237, 238, 239);
  margin-bottom: 70px;
}

.main--apply--create_modal_button {
  position: absolute;
  right: 0px;
  top: -30px;
  span {
    @include medium_kor;
    &:hover {
      cursor: pointer;
    }
  }
}

.main--apply--list {
  width: $list_width;
  padding: $list_wrapper_padding;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.main--apply--list--title {
  @include medium_kor;
  font-size: $sub_title_18;
  font-weight: 500;
  margin: 0;
}

.main--apply--list--event {
  @include medium_kor;
  span {
    &:hover {
      cursor: pointer;
    }
  }
}

.main--apply--list--guide {
  @include medium_kor;
  position: absolute;
  left: 25%;
  top: 37%;
}

.main--apply--eventInfo {
  position: relative;
  width: $basic_width - $list_width;
  border-left: 1px solid #50505057;
  padding: $list_wrapper_padding;
}

.main--apply--eventInfo--title_wrapper {
  @include medium_kor;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #50505057;
}

.main--apply--eventInfo--title {
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main--apply--eventInfo--maker {
  @include small_kor;
  margin: 0;
  vertical-align: bottom;
}

.main--apply--eventInfo--description {
  @include medium_kor;
  font-size: 14px;
  margin: 0;
  margin-bottom: $list_wrapper_padding;
  max-height: 140px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.main--apply--eventInfo--submit {
  @include medium_kor;
  color: $red_for_submit;
  position: absolute;
  bottom: $list_wrapper_padding;
  right: $list_wrapper_padding;
  &:hover {
    cursor: pointer;
  }
}

.attended {
  color: $darkgrey_default;
}

.main--apply--eventInfo--guide {
  @include medium_kor;
  position: relative;
  top: 18%;
  left: 5%;
}
