@import '@css/Main/AttendeeList.scss';
@import '@css/useful.scss';

.main--attendeeList--profiles {
  margin: 40px 0px;
  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
  @include mobile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), auto));
    justify-items: center;
  }
}

.main--attendeeList--profile_wrapper {
  position: relative;
  p {
    font-family: $eng_font_regular;
    text-align: center;
    color: $darkgrey_default;
  }
}

.main--attendeeList--profile_image {
  width: 70px;
  height: 87.5px;
  margin: 0 calc(($basic_width - (70 * $oneline_img_count * 1px)) / ($oneline_img_count * 2));
}

.main--attendeeList--xmark {
  width: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  visibility: hidden;
}
