@import '@css/Main/Main.scss';
@import '@css/useful.scss';

$oneline_img_count: 7;

.main--attendeeList {
  box-sizing: border-box;
  min-height: 270px;
  @include desktop {
    @include basic--wrappers;
  }
  @include mobile {
    margin: 0 10px;
  }
}

.main--attendeeList--title {
  @include main--titles;
  border-left: 4px solid darkgrey;
  padding-left: 5px;
}

.show {
  visibility: initial;
}

.data_none_div {
  min-height: inherit;
}

.data_none_title {
  text-align: end;
  font-size: 14px;
  border: none;
}
