@import '@css/fonts.scss';

@mixin main--wrappers {
  width: 600px;
  margin: 0 auto;
}

@mixin main--titles {
  // font-weight: 300;
  font-family: $kor_font_regular;
  font-size: 16px;
  color: $darkgrey_default;
}
