@import '@css/fonts.scss';

$basic_width: 700px;
$desktop: 1024px;

@mixin basic--wrappers {
  width: $basic_width;
  margin: 0 auto;
}

@mixin desktop {
  @media (min-width: $basic_width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $basic_width) {
    @content;
  }
}

@mixin galaxyFold {
  @media (max-width: 300px) {
    @content;
  }
}
