@import '@css/fonts.scss';

.authForm {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.authForm--input {
  // background: none;
  height: 24px;
  width: 300px;
  border: none;
  border-bottom: 1px solid $darkgrey_default;
  font-size: $default_medium_13;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.password {
  margin-top: 20px;
}

.authForm--button {
  position: absolute;
  right: 0;
  bottom: -40px;
  border: none;
  background: none;
  color: $darkgrey_default;
  &:hover {
    cursor: pointer;
  }
}
