@import '@css/fonts.scss';

.authForm {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.authForm--forFlex {
  display: flex;
}

.authForm--label {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: $default_small_13;
  width: 50px;
}

.authForm--input {
  // background: none;
  height: 24px;
  width: 240px;
  border: none;
  border-bottom: 1px solid $darkgrey_default;
  font-size: $default_small_13;
  text-align: center;
  margin-left: 10px;
  &:focus {
    outline: none;
  }
}

.password,
.passCheck {
  margin-top: 20px;
}

.authForm--button {
  position: absolute;
  right: 0;
  bottom: -40px;
  padding: 0;
  border: none;
  background: none;
  color: $darkgrey_default;
  background-color: lavender;
  padding: 5px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
