@import '@css/fonts.scss';
@import '@css/useful.scss';

.auth--wrapper {
  @include basic--wrappers;
  font-family: $kor_font_regular;
  margin-top: 90px;
  min-height: 450px;
  p {
    text-align: center;
    font-size: $default_big_15;
    color: $darkgrey_default;
  }
}

.signup {
  margin-bottom: 90px;
}

.auth--profile {
  text-align: center;
  margin-top: 50px;
  img {
    width: 80px;
  }
  p {
    font-size: $default_medium_13;
    color: #73b2ed !important;
    &:hover {
      cursor: pointer;
    }
  }
}

.auth--guide {
  margin-top: 80px;
}

.auth--mode_change {
  color: #1e4df5 !important;
  &:hover {
    cursor: pointer;
  }
}
