@import '@css/fonts.scss';

$image_margin: 10px;

.profileModal {
  position: absolute;
  background-color: white;
  width: 510px;
  height: 350px;
  border: 0.5px solid $darkgrey_light;
  // border-radius: 10px;
  left: -100px;
  top: -40px;
  padding: 10px;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  // 스크롤바는 호환성 문제 발생시 삭제
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $darkgrey_light;
    border-radius: 20px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 20px;
    box-shadow: inset 0px 0px 3px white;
  }
}

.profileModal--title {
  @include medium_kor;
  margin-top: 5px;
  margin-left: $image_margin;
}

.profileModal--profileWrapper {
  width: 480px;
  margin-top: 20px;
}

.profileModal--profileImg {
  width: 60px;
  margin: $image_margin;
}

.profileModal--cancleWrapper {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.profileModal--cancle {
  @include medium_kor;
  color: $lightblue;
  text-align: end;
  margin-right: $image_margin;
  &:hover {
    cursor: pointer;
  }
}
