@font-face {
  font-family: 'Noto Sans KR';
  src: url('../fonts/NotoSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto en';
  src: url('../fonts/WaterBrush-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}
