// family
$kor_font_regular: 'Noto Sans KR', sans-serif;
$eng_font_regular: 'Roboto', sans-serif;

// color
$darkgrey_default: rgb(80, 80, 80);
$darkgrey_light: #b2babb;

//size
$main_title_22: 22px;
$sub_title_18: 18px;
$default_big_15: 15px;
$default_medium_13: 13px;
