@import '@css/fonts.scss';

$right_devision_margin: 10px;

.review--detail--background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bebebe2e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.review--detail--xmark {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 25px;
  &:hover {
    cursor: pointer;
  }
}

.review--detail-devision {
  display: flex;
  width: 700px;
  background-color: white;
  z-index: 10;
}

.review--detail--left_division {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 290px;
  height: 440px;
}

.review--detail--image--background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 440px;
  width: 290px;
  background-color: $darkgrey_light;
  z-index: -1;
}

.review--detail--modal_image {
  img {
    width: 290px;
    height: 290px;
    object-fit: cover;
  }
}

.review--detail--right_division {
  width: 410px;
  display: flex;
  flex-direction: column;
}

.review--detail--header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-bottom: 1px solid $darkgrey_light;
  span {
    display: block;
  }
}

.review--detail--detail_comments {
  width: 410px;
  height: 280px;
  margin-top: 20px;
  padding: 0px 10px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.review--detail--full_comment {
  @include medium_kor;
  display: block;
  margin-bottom: 20px;
}

.review--detail--visitor--wrapper {
  margin: 10px 0;
}

.review--detail--visitor {
  @include medium_kor;
  color: $darkgrey_darker;
  margin-right: 10px;
}

.review--detail--visitor_comment {
  @include medium_kor;
}

.review--detail--posting {
  @include medium_kor;
  width: 390px;
  border: 1px solid $darkgrey_light;
  &:focus {
    outline: none;
  }
}

.review--detail--post_comment--wrapper {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 410px;
  height: 80px;
}

.review--detail--form {
  display: flex;
  justify-content: space-between;
  width: 390px;
  margin: 10px;
}

.review--detail--input {
  @include medium_kor;
  height: 24px;
  width: 340px;
  border: none;
  &:focus {
    outline: none;
  }
}

.review--detail--button--forFlex {
  display: flex;
  justify-content: end;
}

.review--detail--button {
  @include medium_kor;
  color: $lightblue;
  background: none;
  padding: 0;
  border: none;
  padding: 5px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
