@import '@css/fonts.scss';

$right_devision_margin: 15px;
$total_width: 710px;
$total_height: 440px;
$left_devision_width: 300px;
$right_devision_width: 410px;
$comment_input_width: 330px;

.review--detail--background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9e9e9eb8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.review--detail--xmark {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 25px;
  &:hover {
    cursor: pointer;
  }
}

.review--detail-devision {
  display: flex;
  width: $total_width;
  height: $total_height;
  background-color: white;
  z-index: 10;
}

.review--detail--left_division {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: $left_devision_width;
  height: $total_height;
}

.review--detail--image--background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: $total_height;
  width: $left_devision_width;
  background-color: #b8b8b84d;
  z-index: -1;
}

.review--detail--modal_image {
  img {
    width: $left_devision_width;
    object-fit: cover;
  }
}

.review--detail--right_division {
  width: $right_devision_width;
  display: flex;
  flex-direction: column;
}

.review--detail--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px $right_devision_margin;
  border-bottom: 1px solid $darkgrey_light;
  span {
    display: block;
  }
}

.review--detail--title {
  @include medium_kor;
  font-size: 16px;
  max-width: 250px;
  display: flex;
  align-items: end;
  padding-bottom: 7px;
}

.review--detail--members {
  display: flex;
  img {
    width: 30px;
    margin-left: 6px;
  }
}

.review--detail--detail_comments {
  width: $right_devision_width;
  height: 290px;
  margin-top: 10px;
  padding: 0px $right_devision_margin;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.review--detail--comment_wrapper {
  margin-bottom: 30px;
}

.review--detail--writter {
  @include medium_eng;
  font-weight: bold;
  margin-right: 7px;
}

.review--detail--full_comment {
  @include medium_kor;
  white-space: pre;
}

.review--detail--post_comment--wrapper {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: $right_devision_width;
  height: 60px;
}

.review--detail--form {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: $right_devision_width - ($right_devision_margin * 2);
  margin: 0 15px 15px 15px;
}

.review--detail--input {
  @include medium_kor;
  height: 24px;
  width: $comment_input_width;
  border: none;
  &:focus {
    outline: none;
  }
}

.review--detail--button--forFlex {
  display: flex;
  justify-content: end;
}

.review--detail--button {
  @include medium_kor;
  color: $lightblue;
  background: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
