@import '@css/fonts.scss';

$right_devision_margin: 15px;

.review--commentbox {
  padding: 8px 0;
}

.review--commentbox--visitor {
  @include medium_eng;
  font-weight: bold;
  margin-right: $right_devision_margin;
}

.review--commentbox--comment {
  @include medium_kor;
}

.review--commentbox--edit_comment {
  @include medium_kor;
  width: 250px;
  background: none;
  border: none;
  border-bottom: 1px solid $darkgrey_default;
  &:focus {
    outline: none;
  }
}

.review--commentbox--ellipsis {
  display: none;
  width: 15px;
  margin-left: 10px;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}

.show {
  display: inherit;
}
