@import '@css/useful.scss';
@import '@css/fonts.scss';

.review--forPositioning {
  @include basic--wrappers;
  position: relative;
}

.review--guide {
  @include medium_kor;
  position: absolute;
  right: 0;
  width: 300px;
}

.review--guide--title {
  font-size: 18px;
  font-weight: 700;
}

.review--guide--letters {
  font-size: 14px;
  color: #99a3a4;
  margin-top: 20px;
}

.review--guide--buttonWrapper {
  display: flex;
  margin-top: 30px;
  span {
    font-size: 14px;
    &:hover {
      cursor: pointer;
    }
  }
}

.review--guide--diffRound {
  span {
    margin-left: 40px;
  }
}

.position_unset {
  position: relative;
  width: unset;
  justify-content: end;
}

.span_break {
  span {
    display: block;
    margin: 10px 0;
  }
}
