@import '@css/useful.scss';

.review--forPositioning {
  position: relative;
  @include desktop {
    @include basic--wrappers;
  }
  @include mobile {
    padding-left: 10px;
    margin-bottom: 30px;
  }
}

.review--guide {
  @include medium_kor;
  @include desktop {
    position: absolute;
    right: 0;
    width: 300px;
  }
  @include mobile {
    position: relative;
  }
}

.review--guide--title {
  font-size: 18px;
  font-weight: 700;
}

.review--guide--letters {
  @include desktop {
    font-size: 14px;
    color: #99a3a4;
    margin-top: 20px;
  }
  @include mobile {
    display: none;
  }
}

.review--guide--buttonWrapper {
  display: flex;
  margin-top: 30px;
  span {
    font-size: 14px;
    &:hover {
      cursor: pointer;
    }
  }
}

.review--guide--eventList {
  position: relative;
}

.review--guide--eventList--button {
  margin-left: 40px;
}

.position_unset {
  position: relative;
  width: unset;
  justify-content: end;
  margin-bottom: 300px;
}

.span_break {
  span {
    display: block;
    margin: 10px 0;
  }
}
