@import '@css/fonts.scss';

$margin_margin_medium: 15px;
$total_width: 700px;
$left_devision_width: 290px;
$right_devision_width: calc($total_width - $left_devision_width - ($margin_margin_medium * 2));

.review--newposting--background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000026;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.review--newposting--xmark {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 25px;
  &:hover {
    cursor: pointer;
  }
}

.review--newposting-devision {
  display: flex;
  width: $total_width;
  background-color: white;
  z-index: 10;
}

.review--newposting--left_division {
  display: flex;
  align-items: center;
  position: relative;
  width: $left_devision_width;
  padding-left: 10px;
}

.review--newposting--add_files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 100%;
  border: 2px dashed $darkgrey_light;
  span {
    @include medium_kor;
  }
}

.review--newposting--add_files--input_wrapper {
  width: 160px;
  margin: 0 auto;
}

.review--newposting--add_files--input {
  margin-top: 20px;
  width: 160px;
  @include small_kor;
}

.review--newposting--right_division {
  width: $right_devision_width;
  margin: $margin_margin_medium;
}

.review--newposting--header {
  display: flex;
  justify-content: space-between;
  // padding: 0 $margin_margin_medium;
  // margin: $margin_margin_medium 0;
}

.review--newposting--header--title {
  @include medium_kor;
  border: none;
  border-left: 3px solid $darkgrey_light;
  padding-left: 3px;
  &:focus {
    outline: none;
  }
}

.review--newposting--header--selectorWrapper {
  display: flex;
  align-items: center;
}

.review--newposting--header--eventSelector,
.review--newposting--header--addTeamMem {
  position: relative;
  span {
    @include medium_kor;
    &:hover {
      cursor: pointer;
    }
  }
}

.review--newposting--header--addTeamMem {
  margin-left: 20px;
}

.review--newposting--newposting_wrapper {
  width: $right_devision_width;
  // padding: 0 $margin_margin_medium;
}

.review--newposting--newposting {
  @include medium_kor;
  width: 100%;
  height: 210px;
  border: 1px solid $darkgrey_light;
  &:focus {
    outline: none;
  }
}

.review--newposting--selectedInfo {
  @include small_kor;
  width: 100%;
  // padding: 0 $margin_margin_medium;
  display: grid;
  grid-template-columns: 15% 85%;
  row-gap: 10px;
  margin: $margin_margin_medium 0;
}

.review--newposting--button--forFlex {
  display: flex;
  justify-content: end;
}

.review--newposting--button {
  @include medium_kor;
  color: $lightblue;
  background: none;
  padding: 0;
  border: none;
  padding: 5px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
