@import '@css/fonts.scss';

.review--newposting--background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000026;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.review--newposting--xmark {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 25px;
  &:hover {
    cursor: pointer;
  }
}

.review--newposting-devision {
  display: flex;
  width: 700px;
  background-color: white;
  z-index: 10;
}

.review--newposting--left_division {
  display: flex;
  align-items: center;
  position: relative;
  width: 290px;
  height: 440px;
  padding-left: 10px;
}

.review--newposting--add_files {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 100%;
  border: 2px dashed $darkgrey_light;
  span {
    @include medium_kor;
  }
}

.review--newposting--add_files--btn_wrapper {
  margin-top: 20px;
  button {
    @include small_kor;
    background: none;
    box-shadow: 1px 1px 1px;
    border: 1px solid $darkgrey_light;
    width: 70px;
  }
}

.review--newposting--right_division {
  width: 410px;
}

.review--newposting--header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 20px 0;
}

.review--newposting--header--title {
  @include medium_kor;
  border: none;
  border-left: 3px solid $darkgrey_light;
  padding-left: 3px;
  &:focus {
    outline: none;
  }
}

.review--newposting--header--selectorWrapper {
  display: flex;
  align-items: center;
}

.review--newposting--header--eventSelector,
.review--newposting--header--addTeamMem {
  position: relative;
  span {
    @include small_kor;
    &:hover {
      cursor: pointer;
    }
  }
}

.review--newposting--header--addTeamMem {
  margin-left: 20px;
}

.review--newposting--newposting_wrapper {
  width: 390px;
  margin: 0 auto;
}

.review--newposting--newposting {
  @include medium_kor;
  width: 100%;
  border: 1px solid $darkgrey_light;
  &:focus {
    outline: none;
  }
}

.review--newposting--button--forFlex {
  display: flex;
  justify-content: end;
}

.review--newposting--button {
  @include medium_kor;
  color: $lightblue;
  background: none;
  padding: 0;
  border: none;
  padding: 5px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
