@import '@css/useful.scss';

.review--posting--forFlex {
  @include basic--wrappers;
  position: relative;
  height: 50px;
  display: flex;
  margin-bottom: 200px;
}

.review--posting--shownWrapper {
  position: relative;
  height: 440px;
  width: 300px;
  border: 1px solid $darkgrey_light;
}

.review--posting--title {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.review--posting--title--title {
  @include medium_kor;
  // font-size: $sub_title_18;
  color: $darkgrey_darker;
  display: block;
}

.review--posting--actions {
  width: 20px;
  &:hover {
    cursor: pointer;
  }
}

.review--posting--image {
  text-align: center;
  img {
    width: 290px;
    height: 290px;
    object-fit: cover;
  }
}

.justify-left {
  justify-content: start;
}

.justify-right {
  justify-content: end;
}

.review--posting--comments {
  margin: 10px;
  p {
    margin: 5px;
  }
}

.review--posting--content {
  @include medium_kor;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review--posting--commentLength {
  @include small_kor;
  color: $darkgrey_medium;
}

.review--posting--createdAt {
  @include small_kor;
  color: $darkgrey_light;
  font-size: 12px;
}

.review--posting--open_modal {
  position: absolute;
  left: 245px;
  top: 405px;
  display: flex;
  align-items: center;
  span {
    @include small_kor;
    color: $darkgrey_light;
  }
  img {
    width: 8px;
    padding-top: 1px;
  }
  &:hover {
    cursor: pointer;
  }
}

.position-right {
  left: inherit;
  right: 10px;
}

.footer--empty {
  margin-bottom: 550px;
}
