@import '@css/useful.scss';

$border_thickness: 1px;

.review--posting--forFlex {
  position: relative;
  @include desktop {
    @include basic--wrappers;
    display: flex;
    height: 50px;
    margin-bottom: 200px;
  }
  @include mobile {
    margin-bottom: 20px;
  }
}

.review--posting--shownWrapper {
  @include desktop {
    position: relative;
    height: 450px;
    width: 300px + ($border_thickness * 2);
    border: $border_thickness solid $darkgrey_light;
  }
  @include mobile {
  }
}

.review--posting--title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.review--posting--title--title_wrapper {
  display: flex;
  align-items: center;
}

.review--posting--title--title {
  width: 210px;
  margin-left: 10px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include medium_kor;
  color: $darkgrey_darker;
}

.review--posting--actions {
  width: 20px;
  &:hover {
    cursor: pointer;
  }
}

.review--posting--image_wrapper {
  position: relative;
}

.review--posting--image {
  object-fit: cover;
  @include desktop {
    width: 300px;
    height: 300px;
  }
  @include mobile {
    width: 100%;
  }
}

.review--posting--expand {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 23px;
  height: 23px;
  border-radius: 10px;
  opacity: 0.5;
  img {
    width: 15px;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.justify-left {
  @include desktop {
    justify-content: start;
  }
}

.justify-right {
  @include desktop {
    justify-content: flex-end;
  }
}

.review--posting--comments {
  padding: 5px;
  p {
    margin: 5px;
  }
  @include mobile {
    position: relative;
  }
}

.review--posting--content {
  @include medium_kor;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review--posting--commentLength {
  @include small_kor;
  color: $darkgrey_medium;
  &:hover {
    cursor: pointer;
  }
}

.review--posting--createdAt {
  @include small_kor;
  color: $darkgrey_light;
  font-size: 12px;
}

.review--posting--open_modal {
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  span {
    @include small_kor;
    color: $darkgrey_light;
  }
  img {
    width: 8px;
    padding-top: 1px;
  }
  &:hover {
    cursor: pointer;
  }
  @include desktop {
    bottom: 5px;
  }
  @include mobile {
    bottom: 15px;
  }
}

.position-right {
  @include desktop {
    left: inherit;
    right: 10px;
  }
}

.footer--empty {
  @include desktop {
    margin-bottom: 550px;
  }
}
