@import '@css/useful.scss';

.review--preview_box--for_grid {
  display: grid;
  justify-items: center;
  row-gap: 10px;
  @include desktop {
    grid-template-columns: repeat(auto-fill, minmax(50%, auto));
  }
  @include mobile {
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  }
}

.review--preview_box--preview_wrapper {
  position: relative;
}

.review--preview_box--preview {
  object-fit: contain;
  @include desktop {
    width: 100px;
    height: 100px;
  }
  @include mobile {
    width: 50px;
    height: 50px;
  }
}

.review--preview_box--Xmark {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  background-color: white;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
