@import '@css/fonts.scss';

.review--preview_box--for_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, auto));
  justify-items: center;
  row-gap: 10px;
}

.review--preview_box--preview_wrapper {
  position: relative;
}

.review--preview_box--preview {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.review--preview_box--Xmark {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  background-color: white;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
