@import '@css/useful.scss';

.review--btn_box_viewer {
  position: relative;
  overflow-x: hidden;
  transition: 0.6s;
  @include desktop {
    width: 300px;
    height: 300px;
  }
}

.review--btn_box_slider {
  left: 0;
  top: 0;
  margin: 0;
  display: flex;
  @include desktop {
    height: 300px;
    position: absolute;
  }
  @include mobile {
    position: relative;
  }
}

.review--btn_box_slider--image_wrapper {
  overflow-y: hidden;
  transition: 0.2s ease;
  @include desktop {
    background-color: rgb(184 184 184 / 0%);
    height: 100%;
  }
  @include mobile {
    background-color: #b8b8b829;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.review--btn_box_slider--image {
  object-fit: cover;
  @include desktop {
    height: 300px;
  }
}

.review--btn_box_wrapper {
  position: absolute;
  top: 140px;
  padding: 0 5px;
}

.review--image_btn__left {
  position: absolute;
  left: 5px;
  width: 22px;
  opacity: 0.7;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.review--image_btn__right {
  position: absolute;
  right: 5px;
  width: 22px;
  opacity: 0.7;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.review--btn_box_expand {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 23px;
  height: 23px;
  border-radius: 10px;
  opacity: 0.5;
  img {
    width: 15px;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
