@import '@css/fonts.scss';

.review--btn_box_viewer {
  position: relative;
  width: 300px;
  height: 300px;
  overflow-x: hidden;
}

.review--btn_box_xbtn {
  position: absolute;
  width: 15px;
  right: 10px;
  top: 10px;
  z-index: 1;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.review--btn_box_slider {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: flex;
  height: 300px;
  transition: 0.5s;
  img {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}

.review--btn_box_wrapper {
  position: absolute;
  width: 300px;
  top: 140px;
  padding: 0 5px;
}

.review--image_btn__left {
  position: absolute;
  left: 5px;
  width: 22px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.review--image_btn__right {
  position: absolute;
  right: 5px;
  width: 22px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
