@import '@css/useful.scss';
@import '@css/fonts.scss';

.footer {
  @include basic--wrappers;
  position: relative;
  margin-top: 50px;
  height: 110px;
}

.footer--wrapper {
  position: absolute;
  right: 0;
  width: 200px;
  span {
    padding-top: 10px;
    border-top: 1px solid $darkgrey_light;
  }
}

.footer--madeby,
.footer--for {
  @include small_eng;
  text-align: end;
}

.footer--madeby {
  margin-bottom: 5px;
}

.footer--for {
  margin-top: 5px;
}
