@import '@css/useful.scss';

.navbar--mobile--wrapper {
  position: sticky;
  top: 0;
  background-color: #2f313d;
  width: 100%;
  height: 70px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  z-index: 2;
}

.navbar--mobile--title {
  a {
    @include big_kor_white;
    text-decoration: none;
  }
}

.navbar--mobile--hamberg {
  width: 20px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.navbar--mobile--modal {
  position: absolute;
  right: 0;
  top: 50px;
  display: flex;
  flex-direction: column;
  background-color: $darkgrey_medium;
  padding: 10px;
  gap: 10px;
  z-index: 1;

  a,
  span {
    @include medium_kor_white;
    text-decoration: none;
    width: 100px;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
}
