@import '@css/fonts.scss';
@import '@css/useful.scss';

.auth--wrapper {
  @include basic--wrappers;
  font-family: $kor_font_regular;
  min-height: 450px;
}

.auth--hello {
  @include medium_kor;
  text-align: center;
}

.signup {
  margin-bottom: 100px;
}

.auth--profile {
  text-align: center;
  margin-top: 30px;
  img {
    width: 80px;
  }
  p {
    width: 100px;
    margin: 10px auto;
    font-size: $default_small_13;
    color: #73b2ed !important;
    &:hover {
      cursor: pointer;
    }
  }
}

.auth--guide {
  @include medium_kor;
  text-align: center;
  margin-top: 50px;
}

.auth--mode_change {
  @include medium_kor;
  text-align: center;
  color: #1e4df5 !important;
  &:hover {
    cursor: pointer;
  }
}
