@import '@css/useful.scss';

.auth--wrapper {
  @include medium_kor;
  min-height: 300px;
  @include desktop {
    @include basic--wrappers;
  }
  @include mobile {
    width: 100%;
  }
}

.auth--profile {
  text-align: center;
  margin-top: 30px;
  img {
    width: 80px;
  }
  p {
    width: 100px;
    margin: 10px auto;
    font-size: $default_small_13;
    color: #73b2ed !important;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

.auth--signup_form {
  text-align: center;
  margin-top: 50px;
}

.authForm {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  @include desktop {
    width: 300px;
  }
  @include mobile {
    width: 80%;
  }
  text-align: center;
}

.authForm--input {
  height: 24px;
  border: none;
  border-bottom: 1px solid $darkgrey_default;
  font-size: $default_small_13;
  text-align: center;
  &:focus {
    outline: none;
  }
  @include desktop {
    width: 240px;
    margin-left: 10px;
  }
  @include mobile {
    width: 75%;
  }
}

.authForm--button {
  padding: 0;
  border: none;
  color: $darkgrey_default;
  background-color: lavender;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.authForm--error_message {
  @include medium_kor;
  color: $pinkred;
  display: flex;
  align-items: center;
}