@import '@css/useful.scss';

.passwordForm {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  @include desktop {
    width: 300px;
  }
  @include mobile {
    width: 80%;
  }
}
.passwordForm--forFlex {
  display: flex;
}
.passwordForm--label {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: $default_small_13;
  @include desktop {
    width: 50px;
  }
  @include mobile {
    width: 25%;
  }
}
.passwordForm--input {
  height: 24px;
  border: none;
  border-bottom: 1px solid $darkgrey_default;
  font-size: $default_small_13;
  text-align: center;
  &:focus {
    outline: none;
  }
  @include desktop {
    width: 200px;
    margin-left: 10px;
  }
  @include mobile {
    width: 75%;
  }
}
.password,
.passCheck,
.email {
  margin-top: 20px;
}
.passwordForm--buttonWrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.passwordForm--error_message {
  @include medium_kor;
  color: $pinkred;
  display: flex;
  align-items: center;
}
.passwordForm--button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.passwordForm--submitButton {
  padding: 0;
  height: 24px;
  border: none;
  color: $darkgrey_default;
  background-color: lavender;
  padding: 5px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.passwordForm--sendButton {
  padding: 0;
  height: 24px;
  border: none;
  color: $darkgrey_default;
  background-color: transparent;
  padding: 5px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.none {
  pointer-events: none;
  color: lightgray;
  // background-color: lightgray;
}