@import '@css/useful.scss';

$image_margin: 10px;

.auth--profileModal--background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.auth--profileModal {
  position: relative;
  background-color: white;
  height: 350px;
  border: 0.5px solid $darkgrey_light;
  padding: 10px;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
  @include desktop {
    width: 510px;
  }
  @include mobile {
    width: 90%;
  }
  // 스크롤바는 호환성 문제 발생시 삭제
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $darkgrey_light;
    border-radius: 20px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 20px;
    box-shadow: inset 0px 0px 3px white;
  }
}

.auth--profileModal--title {
  @include medium_kor;
  margin-top: 5px;
  margin-left: $image_margin;
}

.auth--profileModal--xmark {
  width: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.auth--profileModal--profileWrapper {
  @include desktop {
    width: 480px;
  }
  @include mobile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, auto));
    justify-items: center;
  }
  @include galaxyFold {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), auto));
    justify-items: center;
  }
  margin-top: 20px;
}

.auth--profileModal--profileImg {
  width: 60px;
  margin: $image_margin;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.auth--profileModal--cancleWrapper {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.auth--profileModal--cancle {
  @include medium_kor;
  color: $lightblue;
  text-align: end;
  margin-right: $image_margin;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
