@import '@css/fonts.scss';
@import '@css/useful.scss';

.rotation--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include medium_kor;
}

.rotation--selectDates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.rotation-selectDates-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.rotation--viewSelectDates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.rotation-viewSelectDates-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.rotation--selectDates-box {
  //background-color: rgba(128, 128, 128, 0.4784313725);
  outline: 1px solid gray;
  width: 350px;
  height: 50px;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 4px;
}

.rotation--reset {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  button {
    @include medium_kor;
    color: $pinkred;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    background: none;
  }
  button:hover {
    text-decoration: underline;
  }
}

.rotation--button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  button {
    background-color: $lightgrey;
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 65px;
    margin: 0 5px;
    font-size: 14px;
    transition: 0.5s ease;
    @include medium_kor;
    &:hover {
      box-shadow: 2px 2px 4px rgba(183, 183, 183, 0.5), 2px 2px 4px rgba(183, 183, 183, 0.5);
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
}

.rotation--wrapper button {
  margin-top: 5px;
  margin-bottom: 5px;
}


.select-button {
  width: 100px;
  @include medium_kor;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.25rem;
  font-size: 1rem;
  background: #495057;
  &:hover {
    background: gray;
  }
  &:active {
    background: #495057;
  }
}
