name: front-auto-deploy

on:
  push:
    branches: [deploy]

jobs:
  deploy:
    name: Build, Deploy to S3 bucket
    runs-on: [ubuntu-latest]

    env:
      AWS_BUCKET_NAME: ${{ secrets.AWS_BUCKET_NAME }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_BUCKET_REGION: ${{ secrets.AWS_BUCKET_REGION }}
      AWS_CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID }}
      DEPLOY_ADR: ${{ secrets.DEPLOY_ADR }}

    strategy:
      matrix:
        node-version: [14.15.x]

    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Setup Python for AWS CLI
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'

      - name: Install AWS CLI
        run: pip3 install awscli --upgrade --user

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_BUCKET_REGION }}
          mask-aws-account-id: true

      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Npm Install
        run: npm install
      
      - name: Create env file
        run: |
          touch .env
          echo DEPLOY_ADR=${{secrets.DEPLOY_ADR}} >> .env
          cat .env

      - name: Build
        run: npm run predeploy

      - name: Transfer to S3 for serving static
        run: |
          aws s3 sync ./dist s3://{{ secrets.AWS_BUCKET_NAME }}  \
            --region {{ secrets.AWS_BUCKET_REGION }} \
            --delete

      - name: Invalidate cache CloudFront
        run: |
          aws cloudfront create-invalidation \
          --distribution-id {{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID }} \
          --paths "/*"
